body
{
    background:#E2F5FF;
    color: #16171A;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera 
{
    background: #0B3AD8;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    text-align: left; 
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

#post
{
    background: white;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
}

#footer
{
    background: hsla(231, 85%, 26%, 0.200);
    color: #0A1B79;
    text-align: center;
    padding: 0.5em;
}